a {
    color: inherit;
}



.green{
    background-color:rgb(201, 215, 234);
}
.Titles{
    color: rgb(201, 215, 234);
    text-align: center;
    font-family:cursive;
    background-color: rgb(61, 96, 61) ;

}
.tableaus{

     margin-left:auto;
     margin-right: auto;
     width: 45%;
}

.header{ 
    height:100px; 
    background-color:rgb(61, 96, 61);
    text-align: center;
    font-size: large;
    color: rgb(201, 215, 234);
    font-size: 55px;

    
}
.footer{
    height:100px;
    text-align: center;
    background-color:rgb(61, 96, 61); 
    color:rgb(201, 215, 234);
    font-size: 25px;
}

.rb{ 
    height: 35px;
    background-color: bLACK;
    text-align:center;
    }

h2{
       
     color: rgb(201, 215, 234);
     text-align: center;
     font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(61, 96, 61) ;
    }
